<!-- Event Management Component HTML -->
<div class="event-management-container">
  <mat-form-field appearance="fill">
    <mat-label>Search events</mat-label>
    <input matInput (input)="filterEvent($event)">
  </mat-form-field>

  <mat-table [dataSource]="filteredEvents" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let event">
        <input matInput [(ngModel)]="event.name" [name]="'name' + event.id">
      </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let event">
        <input matInput [(ngModel)]="event.description" [name]="'description' + event.id">
      </mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let event">
        <input matInput [(ngModel)]="event.date" [name]="'date' + event.id" type="date">
      </mat-cell>
    </ng-container>

    <!-- Start Time Column -->
    <ng-container matColumnDef="startTime">
      <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
      <mat-cell *matCellDef="let event">
        <input matInput [(ngModel)]="event.startTime" [name]="'startTime' + event.id" type="time">
      </mat-cell>
    </ng-container>

    <!-- End Time Column -->
    <ng-container matColumnDef="endTime">
      <mat-header-cell *matHeaderCellDef> End Time </mat-header-cell>
      <mat-cell *matCellDef="let event">
        <input matInput [(ngModel)]="event.endTime" [name]="'endTime' + event.id" type="time">
      </mat-cell>
    </ng-container>

    <!-- Seats Available Column -->
    <ng-container matColumnDef="seat">
      <mat-header-cell *matHeaderCellDef> Seats Available </mat-header-cell>
      <mat-cell *matCellDef="let event">
        <input matInput [(ngModel)]="event.seatAvailable" [name]="'seatAvailable' + event.id" type="number">
      </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let event">
        <input matInput [(ngModel)]="event.eventStatus" [name]="'eventStatus' + event.id">
      </mat-cell>
    </ng-container>

    <!-- Venue Column -->
    <ng-container matColumnDef="venue">
      <mat-header-cell *matHeaderCellDef> Venue </mat-header-cell>
      <mat-cell *matCellDef="let event">
        <input matInput [(ngModel)]="event.venue.name" [name]="'venue' + event.id">
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let event">
        <button mat-button color="primary" (click)="edit(event)">Edit</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <mat-card class="add-event-form">
    <form [formGroup]="newEventForm" (ngSubmit)="addEvent()">
      <h3>Add New Event</h3>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput formControlName="date" type="date" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Start Time</mat-label>
        <input matInput formControlName="startTime" type="time" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>End Time</mat-label>
        <input matInput formControlName="endTime" type="time" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Venue</mat-label>
        <mat-select formControlName="venueID">
          <mat-option *ngFor="let venue of venues" [value]="venue.id">
            {{ venue.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div formArrayName="offerTypes">
        <div *ngFor="let offer of offerTypes.controls; let i = index" [formGroupName]="i">
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Seat Quantity</mat-label>
            <input matInput formControlName="seatQuantity" type="number">
            <mat-error *ngIf="offer.get('seatQuantity')?.errors?.['min']">Seat quantity must be at least 1</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput formControlName="price" type="number">
            <mat-error *ngIf="offer.get('price')?.errors?.['min']">Price must be greater than 0</mat-error>
          </mat-form-field>
          <button mat-button (click)="removeOfferType(i)" color="warn">Remove Offer Type</button>
        </div>
        <button mat-button (click)="addOfferType()" color="primary">Add Offer Type</button>
      </div>
      <button mat-raised-button color="primary" type="submit">Add Event</button>
    </form>
  </mat-card>
</div>
