<h2 mat-dialog-title>Edit Event</h2>
<div mat-dialog-content [formGroup]="eventForm">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Event Name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" placeholder="Description">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput formControlName="date" type="date">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Start Time</mat-label>
    <input matInput formControlName="startTime" type="time">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>End Time</mat-label>
    <input matInput formControlName="endTime" type="time">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Venue</mat-label>
    <mat-select formControlName="venueID" >
      <mat-option *ngFor="let venue of venues" [value]="venue?.id">{{ venue.name }}</mat-option>
    </mat-select>
    <input matInput formControlName="venueID">
  </mat-form-field>

  <div formArrayName="offerTypes">
    <div *ngFor="let offer of offerTypes.controls; let i = index" [formGroupName]="i">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Seat Quantity</mat-label>
        <input matInput type="number" formControlName="seatQuantity">
        <mat-error *ngIf="offer.get('seatQuantity')?.errors?.['min']">Seat quantity must be at least 1</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price">
        <mat-error *ngIf="offer.get('price')?.errors?.['min']">Price must be greater than 0</mat-error>
      </mat-form-field>
      <button mat-icon-button color="warn" (click)="removeOfferType(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <button mat-button (click)="addOfferType()" color="primary">Add Offer Type</button>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onSave()" [disabled]="!eventForm.valid">Save</button>
  </div>
</div>
