<div class="dashboard-container">
  <mat-tab-group>
    <mat-tab label="Users">
      <app-user-management></app-user-management>
    </mat-tab>
    <mat-tab label="Venues">
      <app-venue-management></app-venue-management>
    </mat-tab>
    <mat-tab label="Events">
      <app-event-management></app-event-management>
    </mat-tab>
  </mat-tab-group>
</div>

